@charset "utf-8";

// **** create polls

.body-create {
  overflow: hidden;
  background-color: $color-noPolls-bg;
}

.create {
  //[*] 설문 생성 페이지
  width: 100%;
  height: 100%;
  overflow: hidden;

  .page-top {
    height: $ly-create-header-height;
    background-color: #92caf0;
    box-sizing: border-box;
  }

  .create-process {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .page-body {
    // position: absolute;
    overflow: hidden;
    width: 100%;
    padding-top: $ly-create-header-height;
    // height: 100%;
    height: calc(100% - 5rem);
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
  }

  .wrap-question:first-child {
    padding-top: 1rem;
  }

  .create-item-container {
    height: 100%;
    overflow-y: auto;
  }

  .create-buttons-container {}
}