@charset "utf-8";

// **** main view page

// - - - - - - - - - - - - - - -
// [ .mainView ]
// - - - - - - - - - - - - - - -

.body-myPolls {
  overflow: hidden;
}

//[*] 고 서베이 메인 페이지
.myPolls {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .page-top {
    background-color: $color-blue;
  }

  .page-body {
    overflow: hidden;
    position: absolute;
    padding-top: 16.8rem;
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }

  .search-container {
    margin-top: 2.2rem;
    margin-bottom: 1rem;
  }

  .filter-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .no-polls {
    display: none;
    width: 100%;
    // height: 100%;
    // height: calc(100vh - 16.8rem);

    .no-polls-text {
      position: absolute;
      top: 16.8rem;
      left: 50%;
      width: 100%;
      margin-top: 13.7%;
      font-size: 1.7rem;
      font-weight: $fw-r;
      line-height: 1.76;
      text-align: center;
      color: #0c0c0c;
      @include transform(translateX(-50%));
    }
  }


}

.poll-list-container {
  height: 100%;
  overflow-y: auto;
  background-color: #f4f4f4;

  &.init {
    .filter-container {
      opacity: 0;
      visibility: hidden;
      @include pointer-none;
      @include select-none;
    }

    .no-polls {
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
    }
  }
}